<div class="mb-3">
    <button type="button" class="btn main-btn btn-sm" data-bs-toggle="modal"
            data-bs-target="#uploadModal">Загрузить фотографии
    </button>
</div>

<!-- Modal -->
<div class="modal fade modal" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 modal-m11" id="exampleModalLabel">Загрузить фотографии</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="thumbnails"></div>
                        {{ upload_form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn main-btn">Загрузить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
