{% extends 'base/base.html' %}

{% block content %}
<style>
    .delete-photo-btn {
        position: absolute;
        top: 5px;
        right: 20px;
        margin: 0px;
        color: black;
        border: none;
        border-radius: 4px;
        padding: 1px 4px;
        transition: all 0.2s ease-in-out;
    }

    .gallery {
      padding: 5px
    }
    .gallery img {
      width: 150px;
      height: 200px;
      object-fit: cover;
    }
    .modal-m {
      margin-right: 50px
    }
    .modal-m11 {
      margin-left: 50px
    }

</style>


<section class="col-50">
    <div class="container py-5">
        <div class="d-flex">
            {% if post.owner == user %}
            <a href="{% url 'edit_ph_post' post_id=post.pk %}">
                <button type="button" class="btn btn-sm btn-outline-secondary mb-3">Редактировать карточку __ <i
                        class="fa-solid fa-pen"></i></button>
            </a>
            {% endif %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-secondary mb-3 ms-1" data-bs-toggle="modal"
                    data-bs-target="#inviteModal">Пригласить в проект
            </button>
            <a href="{% url 'calendar' owner=post.owner.pk %}">
                <button type="button" class="btn btn-sm btn-outline-secondary mb-3 ms-1">Календарь</button>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if post.avatar %}
                        <img src="{{ post.avatar.url }}"
                             alt="avatar"
                             class="rounded-3 img-fluid" style="width: 250px;">
                        {% endif %}
                        <h5 class="my-3">{{ post.owner.first_name }} {{ post.owner.last_name }}</h5>
                        <p class="text-muted mb-4">Последний раз в сети:<br> {{ post.owner.last_login.date }}</p>
                        {% if user.is_authenticated %}
                        <div class="d-flex justify-content-center">
                            {% if user != post.owner %}

                            <form method="POST" action="{% url 'ph_like_view' post.pk %}">
                                {% csrf_token %}
                                {% if request.user in post.like.all %}
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-light btn-sm">
                                    <i class="far fa-heart"></i> Добавить в избранное
                                </button>
                                {% endif %}
                            </form>
                            {% endif %}
                            {% if post.owner == user %}
                            <a href="{% url 'my_chat_list' %}">
                                <button type="button" class="btn btn-light btn-sm ms-3">Сообщения</button>
                            </a>
                            {% else %}
                            <a href="{% url 'personal_chat_room' room_name=chat_room_name %}">
                                <button type="button" class="btn btn-light btn-sm ms-3">Написать</button>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-center mb-2">


                            <!-- Modal -->
                            <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Пригласить в проект</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="inviteForm" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group m-3">
                                                    {{ invite_form.content.label_tag }}
                                                    {{ invite_form.content }}
                                                </div>
                                                <div class="form-group m-3 mb-3">
                                                    {{ invite_form.project.label_tag }}
                                                    {{ invite_form.project }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary"
                                                            data-bs-dismiss="modal">Отмена
                                                    </button>
                                                    <button type="submit" name="invite" form="inviteForm"
                                                            class="btn main-btn">Пригласить
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <div class="accordion accordion-flush" id="accordionFlushExample1">
                            <div class="accordion-item rounded-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed rounded-3" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseLinks"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                        Контакты:
                                    </button>
                                </h2>
                                <div id="flush-collapseLinks" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample1">
                                    <div class="accordion-body rounded-3">
                                        <ul class="list-group list-group-flush rounded-3">
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fas fa-globe fa-lg text-warning"></i>
                                                <p class="mb-0">https://mdbootstrap.com</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-vk fa-lg" style="color: #333333;"></i>
                                                <p class="mb-0">{{ post.vk }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-telegram fa-lg" style="color: #55acee;"></i>
                                                <p class="mb-0">{{ post.tg }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                                <p class="mb-0">{{ post.inst }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-8">
                            {% if post.owner != user %}
                            <h5 class="mt-3 mb-3">Оставить комментарий</h5>
                            <form method="POST" class="post-form" id="commentform">{% csrf_token %}
                                {{ comment_form.as_p }}
                                <button type="submit" form="commentform" class="save btn main-btn btn-sm mb-3">
                                    Сохранить
                                </button>
                            </form>
                            {% endif %}
                            <h5>Комментарии</h5>
                            {% for comment in comments %}
                            <hr>
                            <div class="media content-section">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ comment.author }}</h5>
                                    <p class="article-content">{{ comment.text }}</p>
                                    <div class="article-metadata">
                                        <small class="text-muted">{{ comment.created_date }}</small>
                                        {% if comment.author == user %}
                                        <a class="btn btn-outline-danger btn-sm p-1" style="border: none"
                                           href="{% url 'ph_comment_delete' pk=comment.pk %}">удалить</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>Пока никто не оставил комментарий</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            {% if not ph_photos %}
                            <h5 class="text-center mt-3 mb-3">Фотографий нет</h5>
                            {% else %}
                            {% for i in ph_photos|slice:":6" %}
                            <div class="col-2 mb-1 gallery">
                                <img
                                        alt="{{ photo.caption }}"
                                        class="img-fluid rounded"
                                        src="{{ i.image.url }}"
                                />
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center">
                            {% if post.owner == user %}
                            <div class="m-1">
                                <a href="{% url 'ph_photo_editor' pk=post.pk album_pk=album_wall_pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                            {% if ph_photos %}
                            <div class="m-1">
                                <button type="button" style='' class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" data-bs-album="Стена">Просмотреть все
                                </button>
                            </div>
                            {% endif %}
                            <!-- Modal -->
                            <div class="modal fade modal-xl" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 modal-m11" id="galleryModalLabel">Галерея</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <ul class="nav nav-tabs mt-3">
                                            {% for album in album_list %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="#{{ album.id }}" data-bs-toggle="tab">
                                                    {{ album.title }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="modal-body modal-m modal-m11">
                                            <div class="tab-content">
                                                {% for album in album_list %}
                                                <div class="tab-pane" id="{{ album.id }}">
                                                    <div class="row">
                                                        {% for photo in album.image_ph.all %}
                                                        <div class="col-2 mb-1 gallery" style="position: relative;">
                                                            <a href="{{ photo.image.url }}">
                                                                <img alt="{{ photo.caption }}" class="img-fluid rounded"
                                                                     src="{{ photo.image.url }}"/>
                                                            </a>
                                                            {% if post.owner == user %}
                                                            <button class="delete-photo-btn"
                                                                    data-photo-id="{{ photo.pk }}">
                                                                <i class="fa fa-trash opacity-25"></i>
                                                            </button>
                                                            {% endif %}
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">
                                                Закрыть
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя/Фамилия</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ post.owner.first_name }} {{ post.owner.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Город:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ post.city }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Возраст:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ post.age }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">О себе:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ post.about }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <p class="mb-0">Согласие на сотрудничество по модели ТФП:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if post.tfp_photos %} Да {% else %} Нет {% endif %}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <p class="mb-0">Возможна съемка в белье/купальнике:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if post.in_under_photos %} Да {% else %} Нет {% endif %}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Возможна ню-съемка:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if post.nu_photos %} Да {% else %} Нет {% endif %}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <p class="mb-0">Жанры съемок:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% for genre in genres %} {{ genre }}<br> {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll('.delete-photo-btn').forEach(function(button) {
  button.addEventListener('click', function() {
    var photoId = this.dataset.photoId;
    if (confirm('Вы уверены, что хотите удалить эту фотографию?')) {
      fetch('/photographers/delete_photo/' + photoId + '/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({'photo_id': photoId})
      })
.then(function(response) {
  if (response.ok) {
    location.reload();
  } else {
    alert('Ошибка удаления фотографии');
  }
})
      .catch(function(error) {
        console.error('Ошибка удаления фотографии:', error);
        alert('Ошибка удаления фотографии');
      });
    }
  });
});

//Создание альбомов
function createAlbum() {
  var title = $('#album-title-input').val(); // Получаем значение поля ввода
  $.ajax({
    url: '/create-album/', // URL-адрес для отправки запроса на сервер
    type: 'POST',
    data: {title: title}, // Данные для отправки на сервер
    success: function(response) {
      // Обновляем содержимое модального окна
      $('#myModal .modal-body').html(response);
    },
    error: function() {
      alert('Ошибка при создании альбома');
    }
  });
}
//Создание альбомов

//Отображение загружаемых фотографий
$(document).ready(function() {
  $('input[type="file"]').on('change', function(event) {
    var files = event.target.files;
    $('#thumbnails').empty();
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();
      reader.onload = function(event) {
        var img = $('<img/>').attr('src', event.target.result);
        img.css({
          'max-width': '200px',
          'max-height': '200px'
        });
        $('#thumbnails').append(img);
      };
      reader.readAsDataURL(file);
    }
  });
});
// Отображение загружаемых фотографий


</script>
{% endblock %}
