{% extends 'base/base.html' %}

{% block content %}
<style>
    .border-3 {
        border-width: 3px !important;
    }

    .gallery {
      padding: 5px
    }
    .gallery img {
      height: 350px;
      width: 250px;
      object-fit: cover;
    }
</style>

<div class="row justify-content-center">
    <div class="col-11">
        <div class="container-fluid mt-4 border rounded p-3">
            <div class="d-flex justify-content-between mb-3">
                    <div class="col-3">
                        <form method="post" class="form-inline form-control">
                            {% csrf_token %}
                            {{ create_album_form.as_p }}
                            <button type="submit" class="btn btn-secondary btn-sm mt-2">Создать</button>
                        </form>
                    </div>
                <div class="col-9 p-2">
                    <strong>Вы можете созавать новые альбомы и загружать в них фотографии</strong>
                    <p>Для этого введите название альбома в форму и нажмите "создать". Альбом тут же добавится в список ваших альбомов.</p>
                    <p>Для того чтобы удалить альбом - выберите альбом который хотите удалить и нажмите "удалить текущий альбом". <strong>Внимание:</strong> вместе с альбомом удалятся и все хранящиеся в нем фотографии.</p>
                </div>
            </div>
            <div class="row">
                {% for album in albums %}
                <div class="col-6 col-md-4 col-lg-2 mb-3">
                    <a href="{% url 'ph_photo_editor' pk=post.pk album_pk=album.pk %}"
                       class="text-decoration-none text-dark">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                {% if album.pk == album_pk %}
                                <i class="fas fa-folder fa-4x mb-3" style="color: #abd7e2;"></i>
                                {% else %}
                                <i class="fas fa-folder fa-4x mb-3"></i>
                                {% endif %}
                                <h5 class="card-title">{{ album.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <a class="btn btn-danger btn-sm mt-2" href="{% url 'ph_album_delete' pk=post.pk album_pk=album_pk %}">Удалить
                текущий альбом</a>
            <hr>
            <div class="row">
                <div class="col-2">
            <h1>{{ album_name }}</h1>
                    {% include 'upload_image.html' %}
                <button type="button" id="delete-photos-btn" class="btn btn-danger btn-sm" onclick="deleteSelected()">Удалить выбранные фотографии</button>
                </div>
                <div class="col-5 ms-auto text-end">
                    <strong>Перемещайте фотографии между альбомами</strong>
                    <p>Выделите несколько фотографий, в выпадающем списке выберите один из ваших альбомов и подтвердите перемещение.</p>
                </div>
                    <div class="col-3 text-end">
                    <form id="move-photos-form" method="POST" class="form-inline form-control">
                        {% csrf_token %}
                        <p>Выберите альбом</p>
                        {{ form.as_p }}
                        <select name="album" id="album-dropdown" class="form-control">
                            <option value="">------</option>
                            {% for album in albums %}
                            <option value="{{ album.id }}">{{ album.title }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" id="move-to-album-btn" class="btn btn-secondary btn-sm mt-2" disabled>
                            Переместить в альбом
                        </button>
                    </form>
                </div>

                </div>
            <form id="delete-form" method="post">
                {% csrf_token %}
                <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-3 mt-3">
                    {% for photo in photos %}
                    <div class="col gallery">
                            <img src="{{ photo.image.url }}" class="img-fluid rounded" alt="{{ photo.title }}"
                                 data-id="{{ photo.pk }}" onclick="selectPhoto(event)">
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>

    </div>
</div>

<script>
  // Удаление
    function deleteSelected() {
        const form = document.getElementById('delete-form');
        const csrftoken = form.querySelector('[name=csrfmiddlewaretoken]').value;
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "ph_delete_photos" %}');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.onload = function() {
            if (xhr.status === 200) {
                window.location.reload();
            }
        };
        xhr.send(JSON.stringify(selectedPhotos));
    }

  // Выбор и перемещение фотографий в альбомы
const albumDropdown = document.querySelector('#album-dropdown');
const moveToAlbumBtn = document.querySelector('#move-to-album-btn');
const movePhotosForm = document.getElementById("move-photos-form");
let selectedPhotos = [];

function selectPhoto(event) {
  const photoId = event.target.getAttribute('data-id');
  if (selectedPhotos.includes(photoId)) {
    selectedPhotos.splice(selectedPhotos.indexOf(photoId), 1);
    event.target.classList.remove('border', 'border-primary', 'border-3');
  } else {
    selectedPhotos.push(photoId);
    event.target.classList.add('border', 'border-primary', 'border-3');
  }
  // Активируем кнопку перемещения, если есть выбранные фотографии и выбран альбом
  if (selectedPhotos.length > 0 && albumDropdown.value) {
    moveToAlbumBtn.disabled = false;
  } else {
    moveToAlbumBtn.disabled = true;
  }
}

albumDropdown.addEventListener('change', () => {
  // Активируем кнопку перемещения, если есть выбранные фотографии и выбран альбом
  if (selectedPhotos.length > 0 && albumDropdown.value) {
    moveToAlbumBtn.disabled = false;
  } else {
    moveToAlbumBtn.disabled = true;
  }
});



document.getElementById("move-photos-form").addEventListener("submit", (event) => {
  event.preventDefault();

  // Отправляем AJAX-запрос на сервер для перемещения фотографий в выбранный альбом
  const albumId = albumDropdown.value;
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '{% url 'ph_move-photos' %}');
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.setRequestHeader('X-CSRFToken', csrfToken);
  xhr.onreadystatechange = function() {
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
      // Очищаем список выбранных фотографий и деактивируем кнопку перемещения
      selectedPhotos = [];
      moveToAlbumBtn.disabled = true;
      // Убираем выделение с выбранных фотографий
      const selectedElements = document.querySelectorAll('.selected-photo');
      selectedElements.forEach((element) => {
        element.classList.remove('border', 'border-primary', 'border-3');
      });
      // Перезагружаем страницу после перемещения фотографий
      window.location.reload();
    }
  };
  xhr.send('album_id=' + encodeURIComponent(albumId) + '&photos=' + encodeURIComponent(JSON.stringify(selectedPhotos)));
});

function validateForm() {
  const imagesInput = document.getElementById('images');
  if (imagesInput.files.length === 0) {
    alert('Выберите как минимум одну фотографию для загрузки.');
    return false;
  }
  return true;
}


</script>

{% endblock %}