{% extends 'base/base.html' %}

{% block content %}
<div class="row justify-content-center">
<div class="col-lg-6 col-mb-8 col-sm-10">
    {% if user.is_authenticated %}
        <h2>Добавить студию</h2>
        <form class="mt-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ create_form.as_p }}
            <button type="submit" class="btn main-btn">Добавить фотографии ></button>
        </form>
    {% else %}
        <p>Пожалуйста, авторизируйтесь</p>
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}
</div>
</div>
{% endblock %}
