{% extends "account/base.html" %}

{% load i18n %}
{% load custom_tags %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
            {% for field in form %}
    <div class="form-group d-flex m-3">
      {{ field.label_tag }}
      {{ field|add_class:"form-control mb-3" }}
      {{ field.help_text }}
      {{ field.errors }}
    </div>
  {% endfor %}
        <button type="submit" class="btn main-btn m-3" name="action">{% trans "Change Password" %}</button>
        <a class="m-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
