{% load i18n %}
{% autoescape off %}

Здравствуйте {{ user.username }},

Вы получили это письмо, потому что зарегистрировались на нашем сайте {{ site_name }} с этим адресом электронной почты.

Для завершения регистрации и подтверждения адреса электронной почты, пройдите, пожалуйста, по ссылке ниже:

{% blocktrans %}
{% url 'account_confirm_email' key=user.verification_key %}
{% endblocktrans %}

Если вы не регистрировались на нашем сайте, просто проигнорируйте это сообщение.

Спасибо за регистрацию на нашем сайте!

{% endautoescape %}
