{% extends 'base/base.html' %}


{% block content %}
<div class="container">
    <h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <p><strong>Owner:</strong> {{ project.owner.username }}</p>
            <p><strong>City:</strong> {{ project.city }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ project.description }}</p>
            <p><strong>Looking for:</strong> {{ project.looking_for.all|join:", " }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>TFP:</strong> {{ project.tfp }}</p>
            <p><strong>Adult only:</strong> {{ project.adult_only }}</p>
            <p><strong>Price:</strong> {{ project.price }}</p>
            <p><strong>Published:</strong> {{ project.is_published }}</p>
            <p><strong>Created:</strong> {{ project.time_create }}</p>
            <p><strong>Last updated:</strong> {{ project.time_update }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Members:</strong></p>
            {% for member in members %}
            {% with link=member.link %}
            <a href="{% url link post_id=member.object_id %}">
                <p>{{ member.role }}: {{ member.member.owner }}</p></a>
            {% if user == project.owner %}
            <a href="{% url 'remove_from_project' project_pk=project.pk member_pk=member.pk %}">
            <button type="button" class="btn btn-outline-danger btn-sm">Отказать в участии</button></a>
            {% endif %}
            {% endwith %}
            {% endfor %}
            {% if user == project.owner %}
            <p><strong>Applicants:</strong></p>
            {% for applicant in applicants %}
            {% with link=applicant.link %}
            <a href="{% url link post_id=applicant.object_id %}">
                <p>{{ applicant.role }}: {{ applicant.member.owner }}</p>
            </a>
            <a href="{% url 'approve' project_pk=project.pk applicant_pk=applicant.pk %}">
            <button type="button" class="btn btn-outline-success btn-sm">Одобрить</button></a>
            {% endwith %}
            {% endfor %}
            {% endif %}
            <p><strong>Хочу участвовать как:</strong>
            <div class="btn-group" role="group" aria-label="Basic example">
                {% for role in project.looking_for.all %}
                <button type="button" class="btn btn-primary btn-create-member"
                        data-project-id="{{ project.pk }}"
                        data-profession-id="{{ role.pk }}">
                    {{ role }}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for image in project.references.all %}
        <div class="col-md-3 mb-3">
            <img src="{{ image.image.url }}" alt="Project Image" class="img-fluid">
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
        $('.btn-create-member').click(function() {
            var projectId = $(this).data('project-id');
            var professionId = $(this).data('profession-id');

            $.ajax({
                url: '{% url 'give_response' %}',
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: {
                    'project_id': projectId,
                    'profession_id': professionId,
                    // add any other parameters you need
                },
                success: function(response) {
                    alert('Member created successfully!');
                },
                error: function(error) {
                    alert('An error occurred while creating member.');
                }
            });
        });
    });

</script>
{% endblock %}
