{% extends 'base/base.html' %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-xxl-4 col-xl-5 col-lg-6 col-mb-8 col-sm-10">
  <h1>Референсы к проекту</h1>
  <p>Загрузите несколько фотографий-референсов к прокекту <br>
    <small>Все прикрепленные ранее рефернсы будут удалены</small>
  </p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if upload_form.errors %}
{% endif %}
    {{ upload_form.as_p }}
    <button type="submit" class="btn main-btn">Загрузить</button>
  </form>
    </div>
</div>
{% endblock %}
